{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
<h1>Edit {{title}}</h1>

    <div>
        <form action="{% url 'edit' title%}" method="post">
            {% csrf_token %}
            <div style="padding-bottom: 10px">
                {{form.title}}
            </div>
            <div style="padding-bottom: 10px">
                {{form.content}}
            </div>

            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}