{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if noItem %}
    <h3>No active listings</h3>
    {% else %}
        <table>
        {% for item in allItems %}
            <tr>
                <td style="width: 30%;"><img src="{{ item.image }}" alt="image" width="200"></td>
                
                <td class = "listing">
                    <h4><a href="{% url 'Listing' item.title%}">{{ item.title }}</a></h4>
                    <h5>Price: ${{ item.currentPrice }}</h5>
                    <div>{{ item.description }}</div>
                </td>
            </tr>
        {% endfor %}    
        </table>    
    {% endif %}
{% endblock %}