{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{listing.title}}</h2>
    <br>
    {% if not listing.active and listing.bidder == user%}
    <h4 style="color: red;">You won the auction.</h2>
    {% elif not listing.active %} 
    <h4 style="color: red;">This auction is closed.</h2>
    {% endif %}
    <br>
    <table style="width: 50%;">
        <tr>
            {% if user.is_authenticated %}

                {% if canAddToWatchlist %}
                <td style="width: 200px;">
                    <a href="{% url 'AddWatchlist' listing.id%}">Add to Watchlist</a>
                </td>
                {% else %}
                <td style="width: 200px;">
                    <a href="{% url 'RemoveWatchlist' listing.id%}">Remove from watchlist</a>
                </td>
                {% endif %}

                {% if user == listing.created_by and listing.active%}
                <td>
                    <a href="{% url 'CloseBid' listing.id%}">Close</a>
                </td>
                {% elif listing.active %}
                <td>
                    <form action="{% url 'Bid' listing.id%}" method="post">
                        {% csrf_token %}
                        {{bidForm.bidPrice}}
                        <input type="submit" value="Bid">
                    </form>
                </td>
                {% endif %}

            {% else %}
            <td>
                Plaease login to bid or track items.
            </td>
            {% endif %}
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>Current Price</td>
            <td>{{listing.currentPrice}}</td>
        </tr>
        <tr>
            <td>Starting Price</td>
            <td>{{listing.startPrice}}</td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img src="{% static listing.image %}" alt="image" width="300"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{listing.category}}</td>
        </tr>

        <tr>
            <td>Description</td>
            <td>{{listing.description}}</td>
        </tr>
        <tr>
            <td>Created User</td>
            <td>{{listing.created_by}}</td>
        </tr>
        <tr>
            <td>Current Bidder</td>
            <td>{{currentBidder}}</td>            
        </tr>
        <tr>
            <td>Created Date</td>
            <td>{{listing.created_date}}</td>
        </tr>
    </table>
    <br>
    <h4>TODO: Comment</h4>
    <form>
        <input type="text" name="Comment" placeholder="Comment">
        <input type="submit" value="Comment">
    </form>
    <br>
    <table>
        <tr>
            <td style="width: 20%;">UserName: </td>
            <td>Comment</td>
        </tr>
    </table>
    
{% endblock %}