{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category}}</h2>

    
    {% if noItem %}
    No item in this category
    {% else %}
        <table>
        {% for item in allItems %}
            <tr>
                <td style="width: 30%;"><img src={{ item.image }} alt="image" width="200"></td>
                
                <td class = "listing">
                    <h4><a href="{% url 'Listing' item.id%}">{{ item.title }}</a></h4>
                    <h5>Current Price: ${{ item.currentPrice }}</h5>
                    <div>{{ item.description }}</div>
                    <div>Category: {{ item.category }}</div>
                </td>
            </tr>
        {% endfor %}    
        </table>    
    {% endif %}
{% endblock %}